/* Glossary Data */
table:has(#glossary) td:first-child {
  font-size: 1.25em !important;
  font-weight: bold !important;
  white-space: nowrap !important;
  text-align: center !important;
  vertical-align: middle ! important;
}

table:has(#glossary) td:nth-child(2) {
  font-weight: normal !important;
  text-align: left !important;
  vertical-align: middle ! important;
}

/* Glossary Headers */
table:has(#glossary) th:first-child {
  font-weight: bold !important;
  white-space: nowrap !important;
  text-align: center !important;
  vertical-align: middle ! important;
}

table:has(#glossary) th:nth-child(2) {
  font-weight: normal !important;
  white-space: nowrap !important;
  text-align: left !important;
  vertical-align: middle ! important;
}